*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    color:#333;
}
.clearfix{
    clear:both;
}
.container_wrap{
    width: 1200px;
    margin:0 auto;
}
.content_box{
    width: 100%;
    margin: 0 auto;
    background-color: blanchedalmond;
    padding:10px;
}
.notice{
    width: 380px;
    height: 180px;
    padding:15px;
}
.notice>div>ul>li>a{
    float:left;
    line-height: 30px;
}
.notice_tit{
    width:80px;
    text-align: center;
    line-height: 30px;
    display:block;
    background:tomato;
}
.notice>div>ul>li>p{
    float:right;
}
.notice>div{
    width:380px;
    height:110px;
    background:#fff;
    padding: 10px;
    
}